.vs/
packages/

*.suo
*.user
_ReSharper.*

ReCaptcha.Desktop/bin/
ReCaptcha.Desktop/obj/
ReCaptcha.Desktop/Properties/

ReCaptcha.Desktop.Tests/bin/
ReCaptcha.Desktop.Tests/obj/
ReCaptcha.Desktop.Tests/Properties/

ReCaptcha.Desktop.WPF/bin/
ReCaptcha.Desktop.WPF/obj/
ReCaptcha.Desktop.WPF/Properties/

ReCaptcha.Desktop.WinUI/bin/
ReCaptcha.Desktop.WinUI/obj/
ReCaptcha.Desktop.WinUI/Properties/


Samples/ReCaptcha.Desktop.Sample/bin/
Samples/ReCaptcha.Desktop.Sample/obj/
Samples/ReCaptcha.Desktop.Sample/Properties/

Samples/ReCaptcha.Desktop.Sample.WPF/bin/
Samples/ReCaptcha.Desktop.Sample.WPF/obj/
Samples/ReCaptcha.Desktop.Sample.WPF/Properties/

Samples/ReCaptcha.Desktop.Sample.WinUI/bin/
Samples/ReCaptcha.Desktop.Sample.WinUI/obj/
Samples/ReCaptcha.Desktop.Sample.WinUI/Properties/