.vs/
packages/

*.suo
*.user
_ReSharper.*

ReCaptcha.Desktop/bin/
ReCaptcha.Desktop/obj/
ReCaptcha.Desktop/Properties/

ReCaptcha.Desktop.Tests/bin/
ReCaptcha.Desktop.Tests/obj/
ReCaptcha.Desktop.Tests/Properties/

Samples/ReCaptcha.Desktop.Console/bin/
Samples/ReCaptcha.Desktop.Console/obj/
Samples/ReCaptcha.Desktop.Console/Properties/